In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('exercise_dataset.csv')
df

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,2,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,3,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,4,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,5,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3859,3860,Exercise 5,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7
3860,3861,Exercise 4,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5
3861,3862,Exercise 4,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9
3862,3863,Exercise 9,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1
3863,3864,Exercise 7,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1

In [3]:
df.drop('ID',axis=1,inplace=True)
df.drop('Exercise',axis=1,inplace=True)

df

,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3
...,...,...,...,...,...,...,...,...,...,...
3859,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7
3860,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5
3861,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9
3862,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1
3863,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1

feature engineering

In [4]:
import math
df['Height'] = df.apply(lambda row: math.sqrt(row['Actual Weight'] / row['BMI']), axis=1)

In [5]:
df['maximum Heart Rate'] = 220 - df['Age']

In [6]:
import pandas as pd

# Assuming you have a DataFrame called 'data' with 'Age', 'Gender', 'Duration', 'Actual Weight', 'Height', and 'Activity Level' columns
# Replace 'data' with your actual DataFrame name

# Define a function to calculate BMR
def calculate_bmr(row):
    if row['Gender'] == 'Male':
        bmr = 88.362 + (13.397 * row['Actual Weight']) + (4.799 * row['Height'] * 100) - (5.677 * row['Age'])
    elif row['Gender'] == 'Female':
        bmr = 447.593 + (9.247 * row['Actual Weight']) + (3.098 * row['Height'] * 100) - (4.330 * row['Age'])
    else:
        bmr = 0  # Assign a default value for other gender options or handle it differently based on your requirements
    return bmr

# Define a function to calculate estimated calories burned
def calculate_calories_burned(row):
    bmr = row['BMR']  # Basal Metabolic Rate
    activity_factor = row['Exercise Intensity']  # Activity factor based on the activity or activity level
    calories_burned = bmr * activity_factor * row['Duration']
    return calories_burned

# Calculate BMR for each row
df['BMR'] = df.apply(calculate_bmr, axis=1)

# Calculate estimated calories burned for each row
df['Calories to Burn (Kcal)'] = df.apply(calculate_calories_burned, axis=1)

In [7]:
df

,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity,Height,maximum Heart Rate,BMR,Calories to Burn (Kcal)
0,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5,1.809039,175,1991.201034,368372.191232
1,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5,1.694286,195,1578.143929,339300.944733
2,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4,1.603846,200,1705.966445,136477.315631
3,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10,1.568531,187,1765.501741,688545.679171
4,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3,1.917776,191,1708.092432,174225.428014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7,1.726721,200,1790.533415,275742.145850
3860,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5,1.866724,199,1792.176399,439083.217816
3861,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9,1.754613,163,1903.359069,959292.970557
3862,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1,1.863404,162,1408.661306,84519.678379
3863,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1,1.422208,185,1373.772550,30222.996100

In [8]:
df

,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity,Height,maximum Heart Rate,BMR,Calories to Burn (Kcal)
0,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5,1.809039,175,1991.201034,368372.191232
1,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5,1.694286,195,1578.143929,339300.944733
2,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4,1.603846,200,1705.966445,136477.315631
3,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10,1.568531,187,1765.501741,688545.679171
4,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3,1.917776,191,1708.092432,174225.428014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7,1.726721,200,1790.533415,275742.145850
3860,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5,1.866724,199,1792.176399,439083.217816
3861,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9,1.754613,163,1903.359069,959292.970557
3862,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1,1.863404,162,1408.661306,84519.678379
3863,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1,1.422208,185,1373.772550,30222.996100

In [9]:
columns_to_drop = ['Calories Burn', 'Heart Rate', 'BMI', 'BMR']
df = df.drop(columns=columns_to_drop)

In [10]:
df.to_csv('output.csv', index=False)

In [11]:
# Rounding off specific columns to 2 decimal places
df['Dream Weight'] = df['Dream Weight'].round(1)
df['Actual Weight'] = df['Actual Weight'].round(1)
df['Height'] = df['Height'].round(2)
df['Calories to Burn (Kcal)'] = df['Calories to Burn (Kcal)'].round(1)
df

,Dream Weight,Actual Weight,Age,Gender,Duration,Weather Conditions,Exercise Intensity,Height,maximum Heart Rate,Calories to Burn (Kcal)
0,91.9,96.3,45,Male,37,Rainy,5,1.81,175,368372.2
1,64.2,61.1,25,Male,43,Rainy,5,1.69,195,339300.9
2,70.8,71.8,20,Male,20,Cloudy,4,1.60,200,136477.3
3,79.5,83.0,33,Male,39,Sunny,10,1.57,187,688545.7
4,90.0,85.6,29,Female,34,Cloudy,3,1.92,191,174225.4
...,...,...,...,...,...,...,...,...,...,...
3859,98.1,96.7,20,Female,22,Cloudy,7,1.73,200,275742.1
3860,97.6,92.7,21,Female,49,Rainy,5,1.87,199,439083.2
3861,94.9,96.8,57,Male,56,Rainy,9,1.75,163,959293.0
3862,64.7,68.7,58,Female,60,Rainy,1,1.86,162,84519.7
3863,56.8,59.8,35,Male,22,Rainy,1,1.42,185,30223.0

In [12]:
df

,Dream Weight,Actual Weight,Age,Gender,Duration,Weather Conditions,Exercise Intensity,Height,maximum Heart Rate,Calories to Burn (Kcal)
0,91.9,96.3,45,Male,37,Rainy,5,1.81,175,368372.2
1,64.2,61.1,25,Male,43,Rainy,5,1.69,195,339300.9
2,70.8,71.8,20,Male,20,Cloudy,4,1.60,200,136477.3
3,79.5,83.0,33,Male,39,Sunny,10,1.57,187,688545.7
4,90.0,85.6,29,Female,34,Cloudy,3,1.92,191,174225.4
...,...,...,...,...,...,...,...,...,...,...
3859,98.1,96.7,20,Female,22,Cloudy,7,1.73,200,275742.1
3860,97.6,92.7,21,Female,49,Rainy,5,1.87,199,439083.2
3861,94.9,96.8,57,Male,56,Rainy,9,1.75,163,959293.0
3862,64.7,68.7,58,Female,60,Rainy,1,1.86,162,84519.7
3863,56.8,59.8,35,Male,22,Rainy,1,1.42,185,30223.0

In [13]:
X = df.drop('Exercise Intensity',axis=1)
y = df['Exercise Intensity']

In [14]:
# Convert predictors into dummies
#X = pd.get_dummies(X, drop_first=True)

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import phik
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OrdinalEncoder, Normalizer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [16]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder


numerics = ['Calories to Burn (Kcal)', 'Dream Weight', 'Actual Weight', 'Age',
       'Duration', 'maximum Heart Rate', 'Height']
categorical_features = ['Weather Conditions','Gender']

In [17]:
scaler = StandardScaler()
X[numerics] = scaler.fit_transform(X[numerics])

In [18]:
encoder = OrdinalEncoder()
X[categorical_features] = encoder.fit_transform(X[categorical_features])

In [19]:
X = pd.concat([X[numerics], X[categorical_features]], axis=1)

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import phik
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OrdinalEncoder, Normalizer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier, plot_tree 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
import xgboost as xgb
from sklearn.metrics import accuracy_score 
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import auc
from sklearn.metrics import  roc_curve
from sklearn.metrics import  roc_auc_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.feature_selection import SelectFromModel 
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
##Instantiate Standard Scaler
#scaler = StandardScaler()
#
## Fit and transform train and test set
#X_train_scaled = scaler.fit_transform(X_train)
#X_test_scaled = scaler.transform(X_test)

In [23]:
# Create a DataFrame from the scaled training data and display the first few rows of the scaled training data DataFrame
#scaled_data_train = pd.DataFrame(X_train_scaled , columns=X_train.columns)
#scaled_data_train.head()

In [24]:
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_y_pred = rf_model.predict(X_test)

In [25]:
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_y_pred))
print("RMSE - Random Forest:", rf_rmse)

RMSE - Random Forest: 0.4222535488405145

In [26]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
import numpy as np

In [27]:
# Random Forest
rf = RandomForestRegressor()
rf_params = {'n_estimators': [100, 200, 300], 'max_depth': [None, 5, 10]}
rf_grid = GridSearchCV(rf, rf_params, cv=5)
rf_grid.fit(X_train, y_train)
rf_best = rf_grid.best_estimator_
rf_y_pred = rf_best.predict(X_test)
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_y_pred))

In [28]:
print("RMSE - Random Forest:", rf_rmse)

RMSE - Random Forest: 0.4159253776737051

In [29]:
# Get the best model and its parameters
best_model = rf_grid.best_estimator_
best_params = rf_grid.best_params_

# Print the best parameters
print("Best Parameters:", best_params)

Best Parameters: {'max_depth': None, 'n_estimators': 300}

In [30]:
df.describe()

,Dream Weight,Actual Weight,Age,Duration,Exercise Intensity,Height,maximum Heart Rate,Calories to Burn (Kcal)
count,3864.000000,3864.000000,3864.000000,3864.000000,3864.000000,3864.000000,3864.000000,3.864000e+03
mean,75.138406,75.188509,39.621118,40.190994,5.457298,1.687073,180.378882,3.491500e+05
std,14.545583,14.845374,12.521721,11.765957,2.850896,0.229660,12.521721,2.296633e+05
min,50.000000,45.800000,18.000000,20.000000,1.000000,1.170000,160.000000,2.250850e+04
25%,62.400000,62.500000,29.000000,30.000000,3.000000,1.520000,169.000000,1.629295e+05
50%,75.500000,75.500000,40.000000,40.000000,5.000000,1.680000,180.000000,3.053488e+05
75%,87.700000,88.100000,51.000000,51.000000,8.000000,1.840000,191.000000,4.960774e+05
max,100.000000,104.300000,60.000000,60.000000,10.000000,2.340000,202.000000,1.259280e+06

In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Define a dictionary of intensity levels and descriptions
intensity_descriptions = {
    1: 'Very low intensity: Suitable for individuals with minimal physical activity, such as walking at a leisurely pace, stretching or yoga, and gentle swimming. However, please note that your preference is prioritized.',
    2: 'Low intensity: Suitable for beginners or individuals with limited physical activity, such as light jogging or running, cycling at a relaxed pace, and beginner\'s aerobics. However, please remember that your preference takes priority.',
    3: 'Moderate intensity: Suitable for individuals who engage in regular physical activity, including brisk walking, dancing, and water aerobics. However, please keep in mind that your preference is given priority.',
    4: 'Medium intensity: Suitable for individuals with moderate fitness and physical activity, such as power walking, cycling at a moderate pace, and Zumba. However, please remember that your preference is given priority.',
    5: 'Moderate to high intensity: Suitable for individuals with moderate to high fitness levels, including jogging or running at a moderate pace, high-intensity interval training (HIIT), and kickboxing. However, please note that your preference is given priority.',
    6: 'High intensity: Suitable for individuals with a high level of fitness and physical activity, such as running at a fast pace, circuit training, and CrossFit. However, please keep in mind that your preference is given priority.',
    7: 'High intensity: Suitable for individuals with a high level of fitness and physical activity, such as advanced HIIT workouts, competitive sports (e.g., soccer, basketball), and spinning or indoor cycling classes. However, please remember that your preference is given priority.',
    8: 'Very high intensity: Suitable for individuals with very high fitness and physical activity, including sprinting or interval sprints, plyometric exercises, and heavy weightlifting. However, please keep in mind that your preference is given priority.',
    9: 'Very higher intensity: Suitable for individuals with very high fitness and physical activity, such as advanced CrossFit workouts, box jumps, and Olympic weightlifting. However, please note that your preference is given priority.',
    10: 'Extremely high intensity: Suitable for athletes or individuals with exceptional fitness levels, including professional sports training, marathon running, and elite-level strength and conditioning programs. However, please remember that your preference is given priority.'
}

# Select features and target variables
x = df[['Calories to Burn (Kcal)', 'Dream Weight', 'Actual Weight', 'Age', 'Duration', 'Height', 'maximum Heart Rate', 'Gender', 'Weather Conditions']]
x = pd.get_dummies(x, columns=['Gender', 'Weather Conditions'], drop_first=True)
y = df['Exercise Intensity']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=23)

# Train the Random Forest regressor
rf = RandomForestRegressor(max_depth=5, n_estimators=200, random_state=26)
rf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf.predict(X_test)

# Convert the predictions to intensity levels (rounding to the nearest integer)
predicted_intensities = np.round(y_pred).astype(int)

# Calculate RMSE
rf_rmse = np.sqrt(mean_squared_error(y_test, predicted_intensities))
print("RMSE:", rf_rmse)

# User Input
dream_weight = float(input("Enter your dream weight: "))
actual_weight = float(input("Enter your actual weight: "))
age = float(input("Enter your age: "))
gender = input("Enter your Gender (M/F): ")
duration = float(input("Enter your training session duration (minutes): "))
height = float(input("Enter your height in meters: "))
max_heart_rate = 220 - age
calories_to_burn = float(input("Enter the calories to burn (Kcal): "))
weather_conditions = input("Enter your suitable training weather condition: ")
# Calculate maximum heart rate
max_heart_rate = 220 - age
heart_rate_subtracted = 220 - age

# Create a dataframe with user input
user_input = pd.DataFrame(
    [[calories_to_burn, dream_weight, actual_weight, age, duration, height, max_heart_rate, gender, weather_conditions]],
    columns=['Calories to Burn (Kcal)', 'Dream Weight', 'Actual Weight', 'Age', 'Duration', 'Height', 'maximum Heart Rate', 'Gender', 'Weather Conditions'])

# Add missing columns to the user input DataFrame
missing_columns = set(X_train.columns) - set(user_input.columns)
for column in missing_columns:
    user_input[column] = 0

# Reorder the columns to match the training data
user_input = user_input[X_train.columns]

# Make predictions on the user input
predicted_intensity_selected = int(round(rf.predict(user_input)[0]))

# Retrieve the description based on the predicted intensity level
description = intensity_descriptions.get(predicted_intensity_selected, "Unknown")

# Display the recommendation and intensity description
print("Recommended Exercise Intensity:", predicted_intensity_selected)
print("Intensity Description:", description)
print("Maximum Heart rate:", heart_rate_subtracted)
print("Calories to burn in (Kcal)", calories_to_burn )

RMSE: 0.8309736706895775
Recommended Exercise Intensity: 5
Intensity Description: Moderate to high intensity: Suitable for individuals with moderate to high fitness levels, including jogging or running at a moderate pace, high-intensity interval training (HIIT), and kickboxing. However, please note that your preference is given priority.
Maximum Heart rate: 197.0
Calories to burn in (Kcal) 344444.0

In [32]:
import pickle

In [33]:
# Save the trained model to a file
with open('kitale_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)

In [34]:
# Load the trained model from the file
with open('kitale_model.pkl', 'rb') as file:
    best_model = pickle.load(file)